#project_x__block {
    position: fixed;
    max-width: 400px;
    min-width: 310px;
    width: 100%;
    height: 84px;
    /*border: 1px solid #9e9e9e;*/
    box-shadow: 0 3px 8px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    z-index: 9999;
    opacity: 0;
    /*overflow: hidden;*/
}
#project_x__block.fadeOut {
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s;
}
#project_x__block.fadeInUp {
    opacity: 1;
    transition: visibility 0s 2s, opacity 2s;
}
#project_x__block .x-popup #x-popup-close {
    width: 25px;
    display: block;
    height: 25px;
    position: absolute;
    top: -19px;
    right: -23px;
    cursor:pointer;
}
/*Desktop*/
#project_x__block.desktop.position_1 {
    right: 2%;
    bottom: 35px;
}
#project_x__block.desktop.position_2 {
    right: 2%;
    top: 35px;
}
#project_x__block.desktop.position_3 {
    left: 2%;
    top: 35px;
}
#project_x__block.desktop.position_4 {
    left: 2%;
    bottom: 35px;
}
#project_x__block.desktop.position_5 {
    top: 2%;
    left: calc(50% - 200px);
}
#project_x__block.desktop.position_6 {
    bottom: 2%;
    left: calc(50% - 200px);
}
/*Mobile*/
#project_x__block.mobile.position_1 {
    top: 2%;
    left: calc(50% - 200px);
}
#project_x__block.mobile.position_2 {
    bottom: 2%;
    left: calc(50% - 200px);
}

#project_x__block.rounded, #project_x__block .x-popup.rounded {
    border-radius: 10px;
}
#project_x__block .x-popup {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}
#project_x__block .x-popup #x-popup-text span.x-popup-title-link a{
    font-size:16px;
}

#project_x__block .x-popup a img {
    max-width: 136px;
    max-height: 72px;
    margin: 0 10px 0 0;
}
#project_x__block .x-popup #x-popup-text {
   float:right;
    max-width: 240px;
    width: 100%;
}

